body{
    /*background: #d3d3d3;*/
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.font-face{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
}
.background-page-2{
    background-image: url(../img/6221097.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}
.background-page-3{
    background-image: url(../img/13464.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.wrapper{
    margin-left: 20px;
    padding: 0;
    width: 100%;
}
.custom-class{
     max-width: 320px;
     margin: 10px;
     padding: 10px;
     border: 1px solid #000;
     color: darkviolet;
     text-align: center;
     background-color: #fff;
}
.custom-class2{
     max-width: 320px;
     height: auto;
     margin: 10px;
     padding: 10px;
     border: 1px dashed #505050;
     color: darkgreen;
     text-align: center;
     background-color: #fff
}
.custom-class3{
    max-width: 320px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 1px dotted #db0101;
    color: darkblue;
    text-align: center;
    background-color: #fff
}
.custom-class4{
    max-width: 320px;
    height: auto;
    margin: 10px;
    padding: 10px;;
    border: 2px solid #db0;
    color: #db0101;
    text-align: center;
    background-color: #fff
}.image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.height-block{
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}
.custom-button{
    text-align: center;
    padding: 20px 0 20px 10px ;
}
.menu{
    margin: 0;
    margin-top: 50px;
    width: 30%;
    text-align: center;
}
.menu ul li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #000;
}
.menu a:hover{
    text-decoration: underline;
    color: #db0101;
}
.round{
    border: 1px solid #000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.logo{
margin-left: 50px;
margin-top: 50px;
}
.header{
display: flex;
justify-content:space-between;   
}
.phone{
    margin: 50px;
    margin-right: 50px;
}